.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }

    .admin-content {
        width: 100%;
        padding: 20px;
        .admin-header {
            border: 1px solid #c02727;
        }
        .admin-main {

        }
    }
}